In [ ]:
# SQL for Data Analysis: Beginner MySQL Business Intelligence
-- Mid Course Project Question 1
SELECT
	first_name,
    last_name,
    email,
    store_id
FROM staff

-- Mid Course Project Question 2
SELECT 
    store_id,
    COUNT(inventory_id) AS inventory_itmes
FROM inventory
GROUP BY store_id

-- Mid Course Project Question 3
SELECT 
	store_id,
    COUNT(customer_id) AS active_customers
FROM customer
WHERE active = 1
GROUP BY
	store_id